@charset "UTF-8";
/*

0 - 600px:     Phone
600 - 900px:   Tablet portrait
900 - 1200px:  Tablet landscape
1200 - 1800px: is where our normal styles apply
1800px + :     Big desktop

$brakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, h1 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: planet-1;
  font-size: 65.5%; }

body {
  margin: 0px;
  background-color: #141b2b;
  height: 100vh; }

::-webkit-scrollbar-track {
  background-color: #141b2b; }

::-webkit-scrollbar {
  width: 5px;
  background-color: #141b2b; }

::-webkit-scrollbar-thumb {
  background-color: #000000; }

@font-face {
  font-family: 'planet-1';
  src: url(../font/planet-n-compact-expanded-italic.ttf);
  font-style: normal;
  font-weight: 100; }

/*
  Com a tipografia setada para 62.5%, ou seja, 1rem equivale a 10px, 
  o tamanho padrão do texto principal que era de 5em ( 1em equivale
  a 16px, logo, 5em vale 80px) passa a valer 8rem.
  Os valores dos atributos da propiedade rect abaixo estão de acordo
  com o tamanho da fonte, nesse caso de agora 8rem.
  Diante disso, basta calcular os valores de tal propiedade para outros
  valores de fonte.
*/
@keyframes glitch-anim {
  0% {
    clip: rect(68px, 9999px, 89px, 0);
    -webkit-clip: rect(68px, 9999px, 89px, 0); }
  5% {
    clip: rect(87px, 9999px, 11px, 0);
    -webkit-clip: rect(87px, 9999px, 11px, 0); }
  10% {
    clip: rect(9px, 9999px, 17px, 0);
    -webkit-clip: rect(9px, 9999px, 17px, 0); }
  15% {
    clip: rect(66px, 9999px, 64px, 0);
    -webkit-clip: rect(66px, 9999px, 64px, 0); }
  20% {
    clip: rect(72px, 9999px, 67px, 0);
    -webkit-clip: rect(72px, 9999px, 67px, 0); }
  25% {
    clip: rect(36px, 9999px, 37px, 0);
    -webkit-clip: rect(36px, 9999px, 37px, 0); }
  30% {
    clip: rect(87px, 9999px, 12px, 0);
    -webkit-clip: rect(87px, 9999px, 12px, 0); }
  35% {
    clip: rect(23px, 9999px, 60px, 0);
    -webkit-clip: rect(23px, 9999px, 60px, 0); }
  40% {
    clip: rect(6px, 9999px, 6px, 0);
    -webkit-clip: rect(6px, 9999px, 6px, 0); }
  45% {
    clip: rect(15px, 9999px, 91px, 0);
    -webkit-clip: rect(15px, 9999px, 91px, 0); }
  50% {
    clip: rect(39px, 9999px, 50px, 0);
    -webkit-clip: rect(39px, 9999px, 50px, 0); }
  55% {
    clip: rect(43px, 9999px, 89px, 0);
    -webkit-clip: rect(43px, 9999px, 89px, 0); }
  60% {
    clip: rect(10px, 9999px, 6px, 0);
    -webkit-clip: rect(10px, 9999px, 6px, 0); }
  65% {
    clip: rect(94px, 9999px, 38px, 0);
    -webkit-clip: rect(94px, 9999px, 38px, 0); }
  70% {
    clip: rect(56px, 9999px, 18px, 0);
    -webkit-clip: rect(56px, 9999px, 18px, 0); }
  75% {
    clip: rect(27px, 9999px, 69px, 0);
    -webkit-clip: rect(27px, 9999px, 69px, 0); }
  80% {
    clip: rect(65px, 9999px, 22px, 0);
    -webkit-clip: rect(65px, 9999px, 22px, 0); }
  85% {
    clip: rect(27px, 9999px, 39px, 0);
    -webkit-clip: rect(27px, 9999px, 39px, 0); }
  90% {
    clip: rect(22px, 9999px, 62px, 0);
    -webkit-clip: rect(22px, 9999px, 62px, 0); }
  95% {
    clip: rect(98px, 9999px, 94px, 0);
    -webkit-clip: rect(98px, 9999px, 94px, 0); }
  100% {
    clip: rect(57px, 9999px, 23px, 0);
    -webkit-clip: rect(57px, 9999px, 23px, 0); } }

@keyframes glitch-anim2 {
  0% {
    clip: rect(31px, 9999px, 35px, 0);
    -webkit-clip: rect(31px, 9999px, 35px, 0); }
  5% {
    clip: rect(9px, 9999px, 92px, 0);
    -webkit-clip: rect(9px, 9999px, 92px, 0); }
  10% {
    clip: rect(4px, 9999px, 44px, 0);
    -webkit-clip: rect(4px, 9999px, 44px, 0); }
  15% {
    clip: rect(26px, 9999px, 4px, 0);
    -webkit-clip: rect(26px, 9999px, 4px, 0); }
  20% {
    clip: rect(3px, 9999px, 57px, 0);
    -webkit-clip: rect(3px, 9999px, 57px, 0); }
  25% {
    clip: rect(43px, 9999px, 10px, 0);
    -webkit-clip: rect(43px, 9999px, 10px, 0); }
  30% {
    clip: rect(49px, 9999px, 42px, 0);
    -webkit-clip: rect(49px, 9999px, 42px, 0); }
  35% {
    clip: rect(21px, 9999px, 42px, 0);
    -webkit-clip: rect(21px, 9999px, 42px, 0); }
  40% {
    clip: rect(66px, 9999px, 41px, 0);
    -webkit-clip: rect(66px, 9999px, 41px, 0); }
  45% {
    clip: rect(8px, 9999px, 71px, 0);
    -webkit-clip: rect(8px, 9999px, 71px, 0); }
  50% {
    clip: rect(65px, 9999px, 70px, 0);
    -webkit-clip: rect(65px, 9999px, 70px, 0); }
  55% {
    clip: rect(40px, 9999px, 97px, 0);
    -webkit-clip: rect(40px, 9999px, 97px, 0); }
  60% {
    clip: rect(73px, 9999px, 85px, 0);
    -webkit-clip: rect(73px, 9999px, 85px, 0); }
  65% {
    clip: rect(65px, 9999px, 10px, 0);
    -webkit-clip: rect(65px, 9999px, 10px, 0); }
  70% {
    clip: rect(33px, 9999px, 62px, 0);
    -webkit-clip: rect(33px, 9999px, 62px, 0); }
  75% {
    clip: rect(55px, 9999px, 63px, 0);
    -webkit-clip: rect(55px, 9999px, 63px, 0); }
  80% {
    clip: rect(69px, 9999px, 39px, 0);
    -webkit-clip: rect(69px, 9999px, 39px, 0); }
  85% {
    clip: rect(37px, 9999px, 70px, 0);
    -webkit-clip: rect(37px, 9999px, 70px, 0); }
  90% {
    clip: rect(31px, 9999px, 2px, 0);
    -webkit-clip: rect(31px, 9999px, 2px, 0); }
  95% {
    clip: rect(49px, 9999px, 18px, 0);
    -webkit-clip: rect(49px, 9999px, 18px, 0); }
  100% {
    clip: rect(77px, 9999px, 69px, 0);
    -webkit-clip: rect(77px, 9999px, 69px, 0); } }

@keyframes glitch-anim {
  0% {
    clip: rect(89px, 9999px, 66px, 0);
    -webkit-clip: rect(5px, 9999px, 53px, 0); }
  5% {
    clip: rect(69px, 9999px, 36px, 0);
    -webkit-clip: rect(59px, 9999px, 46px, 0); }
  10% {
    clip: rect(5px, 9999px, 59px, 0);
    -webkit-clip: rect(35px, 9999px, 100px, 0); }
  15% {
    clip: rect(48px, 9999px, 6px, 0);
    -webkit-clip: rect(38px, 9999px, 82px, 0); }
  20% {
    clip: rect(60px, 9999px, 22px, 0);
    -webkit-clip: rect(95px, 9999px, 1px, 0); }
  25% {
    clip: rect(98px, 9999px, 80px, 0);
    -webkit-clip: rect(9px, 9999px, 98px, 0); }
  30% {
    clip: rect(95px, 9999px, 14px, 0);
    -webkit-clip: rect(36px, 9999px, 27px, 0); }
  35% {
    clip: rect(13px, 9999px, 25px, 0);
    -webkit-clip: rect(73px, 9999px, 48px, 0); }
  40% {
    clip: rect(99px, 9999px, 17px, 0);
    -webkit-clip: rect(86px, 9999px, 7px, 0); }
  45% {
    clip: rect(71px, 9999px, 79px, 0);
    -webkit-clip: rect(4px, 9999px, 30px, 0); }
  50% {
    clip: rect(80px, 9999px, 32px, 0);
    -webkit-clip: rect(39px, 9999px, 16px, 0); }
  55% {
    clip: rect(23px, 9999px, 99px, 0);
    -webkit-clip: rect(16px, 9999px, 73px, 0); }
  60% {
    clip: rect(33px, 9999px, 63px, 0);
    -webkit-clip: rect(19px, 9999px, 15px, 0); }
  65% {
    clip: rect(94px, 9999px, 32px, 0);
    -webkit-clip: rect(58px, 9999px, 47px, 0); }
  70% {
    clip: rect(3px, 9999px, 41px, 0);
    -webkit-clip: rect(42px, 9999px, 8px, 0); }
  75% {
    clip: rect(43px, 9999px, 72px, 0);
    -webkit-clip: rect(60px, 9999px, 19px, 0); }
  80% {
    clip: rect(62px, 9999px, 9px, 0);
    -webkit-clip: rect(89px, 9999px, 68px, 0); }
  85% {
    clip: rect(95px, 9999px, 33px, 0);
    -webkit-clip: rect(62px, 9999px, 38px, 0); }
  90% {
    clip: rect(88px, 9999px, 66px, 0);
    -webkit-clip: rect(28px, 9999px, 40px, 0); }
  95% {
    clip: rect(99px, 9999px, 14px, 0);
    -webkit-clip: rect(24px, 9999px, 13px, 0); }
  100% {
    clip: rect(11px, 9999px, 33px, 0);
    -webkit-clip: rect(51px, 9999px, 32px, 0); } }

@keyframes glitch-anim2 {
  0% {
    clip: rect(15px, 9999px, 31px, 0);
    -webkit-clip: rect(22px, 9999px, 54px, 0); }
  5% {
    clip: rect(69px, 9999px, 45px, 0);
    -webkit-clip: rect(11px, 9999px, 98px, 0); }
  10% {
    clip: rect(63px, 9999px, 23px, 0);
    -webkit-clip: rect(64px, 9999px, 84px, 0); }
  15% {
    clip: rect(14px, 9999px, 22px, 0);
    -webkit-clip: rect(52px, 9999px, 77px, 0); }
  20% {
    clip: rect(21px, 9999px, 42px, 0);
    -webkit-clip: rect(15px, 9999px, 3px, 0); }
  25% {
    clip: rect(50px, 9999px, 52px, 0);
    -webkit-clip: rect(94px, 9999px, 21px, 0); }
  30% {
    clip: rect(13px, 9999px, 29px, 0);
    -webkit-clip: rect(94px, 9999px, 35px, 0); }
  35% {
    clip: rect(99px, 9999px, 47px, 0);
    -webkit-clip: rect(46px, 9999px, 85px, 0); }
  40% {
    clip: rect(90px, 9999px, 78px, 0);
    -webkit-clip: rect(41px, 9999px, 75px, 0); }
  45% {
    clip: rect(39px, 9999px, 53px, 0);
    -webkit-clip: rect(79px, 9999px, 32px, 0); }
  50% {
    clip: rect(49px, 9999px, 39px, 0);
    -webkit-clip: rect(75px, 9999px, 12px, 0); }
  55% {
    clip: rect(19px, 9999px, 15px, 0);
    -webkit-clip: rect(60px, 9999px, 82px, 0); }
  60% {
    clip: rect(18px, 9999px, 23px, 0);
    -webkit-clip: rect(25px, 9999px, 11px, 0); }
  65% {
    clip: rect(16px, 9999px, 92px, 0);
    -webkit-clip: rect(58px, 9999px, 17px, 0); }
  70% {
    clip: rect(89px, 9999px, 89px, 0);
    -webkit-clip: rect(45px, 9999px, 73px, 0); }
  75% {
    clip: rect(89px, 9999px, 74px, 0);
    -webkit-clip: rect(84px, 9999px, 29px, 0); }
  80% {
    clip: rect(34px, 9999px, 99px, 0);
    -webkit-clip: rect(63px, 9999px, 25px, 0); }
  85% {
    clip: rect(32px, 9999px, 56px, 0);
    -webkit-clip: rect(32px, 9999px, 44px, 0); }
  90% {
    clip: rect(26px, 9999px, 39px, 0);
    -webkit-clip: rect(52px, 9999px, 12px, 0); }
  95% {
    clip: rect(97px, 9999px, 63px, 0);
    -webkit-clip: rect(10px, 9999px, 98px, 0); }
  100% {
    clip: rect(22px, 9999px, 34px, 0);
    -webkit-clip: rect(40px, 9999px, 88px, 0); } }

@keyframes glitch-anim15 {
  0% {
    clip: rect(127px, 9999px, 166px, 0);
    -webkit-clip: rect(127px, 9999px, 166px, 0); }
  5% {
    clip: rect(163px, 9999px, 20px, 0);
    -webkit-clip: rect(163px, 9999px, 20px, 0); }
  10% {
    clip: rect(16px, 9999px, 31px, 0);
    -webkit-clip: rect(16px, 9999px, 31px, 0); }
  15% {
    clip: rect(123px, 9999px, 120px, 0);
    -webkit-clip: rect(123px, 9999px, 120px, 0); }
  20% {
    clip: rect(135px, 9999px, 125px, 0);
    -webkit-clip: rect(135px, 9999px, 125px, 0); }
  25% {
    clip: rect(67px, 9999px, 69px, 0);
    -webkit-clip: rect(67px, 9999px, 69px, 0); }
  30% {
    clip: rect(163px, 9999px, 22px, 0);
    -webkit-clip: rect(163px, 9999px, 22px, 0); }
  35% {
    clip: rect(43px, 9999px, 112px, 0);
    -webkit-clip: rect(43px, 9999px, 112px, 0); }
  40% {
    clip: rect(11px, 9999px, 11px, 0);
    -webkit-clip: rect(11px, 9999px, 11px, 0); }
  45% {
    clip: rect(28px, 9999px, 170px, 0);
    -webkit-clip: rect(28px, 9999px, 170px, 0); }
  50% {
    clip: rect(73px, 9999px, 93px, 0);
    -webkit-clip: rect(73px, 9999px, 93px, 0); }
  55% {
    clip: rect(80px, 9999px, 166px, 0);
    -webkit-clip: rect(80px, 9999px, 166px, 0); }
  60% {
    clip: rect(18px, 9999px, 11px, 0);
    -webkit-clip: rect(18px, 9999px, 11px, 0); }
  65% {
    clip: rect(176px, 9999px, 71px, 0);
    -webkit-clip: rect(176px, 9999px, 71px, 0); }
  70% {
    clip: rect(105px, 9999px, 33px, 0);
    -webkit-clip: rect(105px, 9999px, 33px, 0); }
  75% {
    clip: rect(50px, 9999px, 129px, 0);
    -webkit-clip: rect(50px, 9999px, 129px, 0); }
  80% {
    clip: rect(121px, 9999px, 41px, 0);
    -webkit-clip: rect(121px, 9999px, 41px, 0); }
  85% {
    clip: rect(50px, 9999px, 73px, 0);
    -webkit-clip: rect(50px, 9999px, 73px, 0); }
  90% {
    clip: rect(41px, 9999px, 116px, 0);
    -webkit-clip: rect(41px, 9999px, 116px, 0); }
  95% {
    clip: rect(183px, 9999px, 176px, 0);
    -webkit-clip: rect(183px, 9999px, 176px, 0); }
  100% {
    clip: rect(106px, 9999px, 43px, 0);
    -webkit-clip: rect(106px, 9999px, 43px, 0); } }

@keyframes glitch-anim15-2 {
  0% {
    clip: rect(238px, 9999px, 311px, 0);
    -webkit-clip: rect(238px, 9999px, 311px, 0); }
  5% {
    clip: rect(305px, 9999px, 37px, 0);
    -webkit-clip: rect(305px, 9999px, 37px, 0); }
  10% {
    clip: rect(30px, 9999px, 58px, 0);
    -webkit-clip: rect(30px, 9999px, 58px, 0); }
  15% {
    clip: rect(230px, 9999px, 225px, 0);
    -webkit-clip: rect(230px, 9999px, 225px, 0); }
  20% {
    clip: rect(253px, 9999px, 234px, 0);
    -webkit-clip: rect(253px, 9999px, 234px, 0); }
  25% {
    clip: rect(125px, 9999px, 129px, 0);
    -webkit-clip: rect(125px, 9999px, 129px, 0); }
  30% {
    clip: rect(305px, 9999px, 41px, 0);
    -webkit-clip: rect(305px, 9999px, 41px, 0); }
  35% {
    clip: rect(80px, 9999px, 210px, 0);
    -webkit-clip: rect(80px, 9999px, 210px, 0); }
  40% {
    clip: rect(20px, 9999px, 20px, 0);
    -webkit-clip: rect(20px, 9999px, 20px, 0); }
  45% {
    clip: rect(52px, 9999px, 318px, 0);
    -webkit-clip: rect(52px, 9999px, 318px, 0); }
  50% {
    clip: rect(136px, 9999px, 174px, 0);
    -webkit-clip: rect(136px, 9999px, 174px, 0); }
  55% {
    clip: rect(150px, 9999px, 311px, 0);
    -webkit-clip: rect(150px, 9999px, 311px, 0); }
  60% {
    clip: rect(33px, 9999px, 20px, 0);
    -webkit-clip: rect(33px, 9999px, 20px, 0); }
  65% {
    clip: rect(330px, 9999px, 133px, 0);
    -webkit-clip: rect(330px, 9999px, 133px, 0); }
  70% {
    clip: rect(196px, 9999px, 61px, 0);
    -webkit-clip: rect(196px, 9999px, 61px, 0); }
  75% {
    clip: rect(93px, 9999px, 241px, 0);
    -webkit-clip: rect(93px, 9999px, 241px, 0); }
  80% {
    clip: rect(226px, 9999px, 76px, 0);
    -webkit-clip: rect(226px, 9999px, 76px, 0); }
  85% {
    clip: rect(93px, 9999px, 136px, 0);
    -webkit-clip: rect(93px, 9999px, 136px, 0); }
  90% {
    clip: rect(76px, 9999px, 217px, 0);
    -webkit-clip: rect(76px, 9999px, 217px, 0); }
  95% {
    clip: rect(343px, 9999px, 330px, 0);
    -webkit-clip: rect(343px, 9999px, 330px, 0); }
  100% {
    clip: rect(198px, 9999px, 80px, 0);
    -webkit-clip: rect(198px, 9999px, 80px, 0); } }

.contact {
  width: 100%; }
  .contact .header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0; }
    @media only screen and (max-width: 37.5em) {
      .contact .header {
        padding-top: 5rem; } }
    .contact .header__back {
      align-items: center;
      transform: translateY(-15%);
      position: absolute;
      font-size: 2rem;
      top: 2rem;
      left: 3rem; }
      .contact .header__back .backButton {
        background-color: transparent;
        border: none;
        font-family: 'Share Tech Mono', monospace;
        font-weight: 400;
        transition: all .2s; }
        .contact .header__back .backButton:hover {
          transform: scale(1.05); }
        .contact .header__back .backButton a {
          text-decoration: none;
          font-size: 2.5rem;
          cursor: pointer;
          color: #ffffff; }
          @media only screen and (max-width: 75em) {
            .contact .header__back .backButton a {
              font-size: 2rem; } }
          @media only screen and (max-width: 56.25em) {
            .contact .header__back .backButton a {
              font-size: 1.5rem; } }
          @media only screen and (max-width: 37.5em) {
            .contact .header__back .backButton a {
              font-size: 1rem; } }
          .contact .header__back .backButton a i {
            font-size: 2rem;
            transform: translateY(1.5px); }
            @media only screen and (max-width: 75em) {
              .contact .header__back .backButton a i {
                font-size: 1.5rem; } }
            @media only screen and (max-width: 56.25em) {
              .contact .header__back .backButton a i {
                font-size: 1rem; } }
            @media only screen and (max-width: 37.5em) {
              .contact .header__back .backButton a i {
                font-size: 1rem; } }
    .contact .header__title--text {
      font-size: 3.5rem;
      color: #ffffff; }
      @media only screen and (min-width: 112.5em) {
        .contact .header__title--text {
          font-size: 4rem; } }
      @media only screen and (max-width: 56.25em) {
        .contact .header__title--text {
          font-size: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .contact .header__title--text {
          font-size: 1.5rem; } }
  .contact .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 3% 30%; }
    @media only screen and (max-width: 87.5em) {
      .contact .content {
        padding: 3% 30%; } }
    @media only screen and (max-width: 56.25em) {
      .contact .content {
        padding: 3% 20%; } }
    @media only screen and (max-width: 37.5em) {
      .contact .content {
        padding: 3% 10% 5% 10%; } }
    .contact .content__title {
      color: #585b6b;
      font-size: 2.5rem;
      width: 100%;
      margin-bottom: 5rem; }
      @media only screen and (min-width: 112.5em) {
        .contact .content__title {
          font-size: 3rem; } }
      @media only screen and (max-width: 87.5em) {
        .contact .content__title {
          font-size: 2rem;
          margin-bottom: 1.5rem; } }
      @media only screen and (max-width: 75em) {
        .contact .content__title {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .contact .content__title {
          font-size: 1.2rem;
          line-height: 1.2;
          margin-bottom: 1rem; } }
      .contact .content__title__connect {
        color: #06F0EF;
        color: #ffffff;
        text-shadow: 2px 4px 0rem #000000; }
    .contact .content__formWrapper {
      width: 100%; }
      .contact .content__formWrapper--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%; }
        .contact .content__formWrapper--form input[type=text],
        .contact .content__formWrapper--form textarea {
          font-family: 'Share Tech Mono', monospace;
          font-weight: 400;
          opacity: .7;
          color: #ffffff;
          font-size: 2rem;
          letter-spacing: .2rem;
          border: none;
          background-color: transparent;
          border-bottom: 1px solid #ffffff;
          padding: 0 0 .5rem .5rem;
          margin: 1.5rem 0;
          outline: none;
          -webkit-appearance: none;
          border-radius: 0; }
          @media only screen and (min-width: 112.5em) {
            .contact .content__formWrapper--form input[type=text],
            .contact .content__formWrapper--form textarea {
              font-size: 2rem; } }
          @media only screen and (max-width: 87.5em) {
            .contact .content__formWrapper--form input[type=text],
            .contact .content__formWrapper--form textarea {
              font-size: 1.8rem; } }
          @media only screen and (max-width: 75em) {
            .contact .content__formWrapper--form input[type=text],
            .contact .content__formWrapper--form textarea {
              font-size: 1.5rem;
              margin: 1rem 0; } }
          @media only screen and (max-width: 37.5em) {
            .contact .content__formWrapper--form input[type=text],
            .contact .content__formWrapper--form textarea {
              font-size: 1.2rem; } }
        .contact .content__formWrapper--form textarea {
          padding-bottom: 8rem;
          font-size: 2rem;
          max-width: 100%; }
          @media only screen and (min-width: 112.5em) {
            .contact .content__formWrapper--form textarea {
              font-size: 2rem; } }
          @media only screen and (max-width: 87.5em) {
            .contact .content__formWrapper--form textarea {
              font-size: 1.8rem;
              padding-bottom: 6rem; } }
          @media only screen and (max-width: 75em) {
            .contact .content__formWrapper--form textarea {
              font-size: 1.5rem;
              padding-bottom: 4rem; } }
          @media only screen and (max-width: 37.5em) {
            .contact .content__formWrapper--form textarea {
              font-size: 1.2rem;
              padding-bottom: 3rem; } }
        .contact .content__formWrapper--form input:focus, .contact .content__formWrapper--form textarea:focus {
          border-bottom: 1px solid #ffffff;
          opacity: 1; }
        .contact .content__formWrapper--form--text {
          font-size: 1.4rem;
          color: #ffffff;
          color: #585b6b;
          text-decoration: none;
          margin-bottom: 7rem; }
          @media only screen and (min-width: 112.5em) {
            .contact .content__formWrapper--form--text {
              font-size: 1.5rem; } }
          @media only screen and (max-width: 87.5em) {
            .contact .content__formWrapper--form--text {
              font-size: 1.2rem;
              margin-bottom: 3rem; } }
          @media only screen and (max-width: 75em) {
            .contact .content__formWrapper--form--text {
              font-size: .9rem;
              margin-bottom: 2rem; } }
          @media only screen and (max-width: 37.5em) {
            .contact .content__formWrapper--form--text {
              line-height: 1.5;
              font-size: .8rem; } }
          .contact .content__formWrapper--form--text--link {
            position: relative; }
            .contact .content__formWrapper--form--text--link a {
              display: inline-block;
              transition: all .3s; }
              .contact .content__formWrapper--form--text--link a::after {
                content: "";
                display: block;
                position: absolute;
                margin-top: 2px;
                width: 20%;
                height: 2px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #ffffff;
                transition: all .4s; }
              .contact .content__formWrapper--form--text--link a:hover::after {
                width: 90%; }
              .contact .content__formWrapper--form--text--link a:hover {
                transform: scale(1.2);
                margin-left: .9rem; }
              .contact .content__formWrapper--form--text--link a, .contact .content__formWrapper--form--text--link a:link, .contact .content__formWrapper--form--text--link a:visited {
                color: #06F0EF;
                color: #ffffff;
                text-decoration: none; }
        .contact .content__formWrapper--form--button {
          width: fit-content;
          font-family: 'Share Tech Mono', monospace;
          font-size: 2.5rem;
          letter-spacing: -.2rem;
          padding: 1rem 3rem;
          line-height: 1;
          text-decoration: none;
          cursor: pointer;
          background-color: #f7f7f7;
          clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
          border: none;
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
          box-shadow: 0 1rem 2rem black;
          transition: all .3s; }
          @media only screen and (max-width: 87.5em) {
            .contact .content__formWrapper--form--button {
              font-size: 2rem; } }
          @media only screen and (max-width: 75em) {
            .contact .content__formWrapper--form--button {
              font-size: 1.5rem;
              letter-spacing: 0rem; } }
          @media only screen and (max-width: 37.5em) {
            .contact .content__formWrapper--form--button {
              font-size: 1.5rem;
              padding: .7rem 2.5rem;
              margin-left: 50%;
              transform: translateX(-50%); } }
          .contact .content__formWrapper--form--button:hover {
            transform: translateY(-1rem); }
            @media only screen and (max-width: 37.5em) {
              .contact .content__formWrapper--form--button:hover {
                transform: translateY(-1rem) translateX(-50%); } }

.container {
  background: #141b2b;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .container__title {
    color: white;
    position: absolute;
    top: 2rem;
    font-size: 2rem; }
    @media only screen and (max-width: 87.5em) {
      .container__title {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 75em) {
      .container__title {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .container__title {
        font-size: 1rem; } }
  .container__socials {
    font-size: 2.5rem;
    position: absolute;
    right: 3rem;
    top: 2rem;
    /*.fb {
			&--mobile {
				display: none;

				@include respond(phone){
					display: initial;
				}
			}

			&--desktop {
				@include respond(phone){
					display: none;
				}
			}
		}*/ }
    @media only screen and (max-width: 56.25em) {
      .container__socials {
        top: 5.5rem;
        right: 50%;
        transform: translateX(50%); } }
    @media only screen and (max-width: 37.5em) {
      .container__socials {
        font-size: 2rem;
        top: 5rem; } }
    .container__socials > a {
      color: white;
      opacity: .5;
      margin-left: 15px;
      transition: all .3s; }
      .container__socials > a:hover {
        opacity: 1; }
  .container__content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .container__content .primaryText {
      position: relative;
      color: white;
      font-size: 10rem; }
      @media only screen and (min-width: 112.5em) {
        .container__content .primaryText {
          font-size: 15rem; } }
      @media only screen and (max-width: 87.5em) {
        .container__content .primaryText {
          font-size: 10rem; } }
      @media only screen and (max-width: 75em) {
        .container__content .primaryText {
          font-size: 8rem; } }
      @media only screen and (max-width: 37.5em) {
        .container__content .primaryText {
          font-size: 5rem; } }
      .container__content .primaryText::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: 2px;
        text-shadow: -2px 0 #ff00c1;
        clip: rect(44px, 450px, 56px, 0);
        animation: glitch-anim 5s infinite linear alternate-reverse; }
        @media only screen and (min-width: 112.5em) {
          .container__content .primaryText::before {
            animation: glitch-anim15 1s infinite linear alternate-reverse; } }
      .container__content .primaryText::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -2px;
        text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
        animation: glitch-anim2 1s infinite linear alternate-reverse; }
        @media only screen and (min-width: 112.5em) {
          .container__content .primaryText::after {
            animation: glitch-anim15-2 1s infinite linear alternate-reverse; } }
    .container__content .secondaryText {
      color: #ffffff;
      font-size: 3rem; }
      @media only screen and (max-width: 87.5em) {
        .container__content .secondaryText {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 75em) {
        .container__content .secondaryText {
          font-size: 2.2rem; } }
      @media only screen and (max-width: 56.25em) {
        .container__content .secondaryText {
          font-size: 2.2rem; } }
      @media only screen and (max-width: 37.5em) {
        .container__content .secondaryText {
          font-size: 1.2rem; } }
      .container__content .secondaryText::after, .container__content .secondaryText::before {
        content: "";
        width: 3rem;
        height: .1rem;
        position: absolute;
        background-color: #ffffff; }
        @media only screen and (max-width: 75em) {
          .container__content .secondaryText::after, .container__content .secondaryText::before {
            width: 2.5rem; } }
        @media only screen and (max-width: 37.5em) {
          .container__content .secondaryText::after, .container__content .secondaryText::before {
            width: 2rem; } }
      .container__content .secondaryText::before {
        transform: translateX(-35px) translateY(17px); }
        @media only screen and (max-width: 87.5em) {
          .container__content .secondaryText::before {
            transform: translateX(-35px) translateY(13px); } }
        @media only screen and (max-width: 75em) {
          .container__content .secondaryText::before {
            transform: translateX(-30px) translateY(13px); } }
        @media only screen and (max-width: 37.5em) {
          .container__content .secondaryText::before {
            transform: translateX(-25px) translateY(5px); } }
      .container__content .secondaryText::after {
        transform: translateX(9px) translateY(19px); }
        @media only screen and (max-width: 87.5em) {
          .container__content .secondaryText::after {
            transform: translateX(10px) translateY(15px); } }
        @media only screen and (max-width: 75em) {
          .container__content .secondaryText::after {
            transform: translateX(5px) translateY(15px); } }
        @media only screen and (max-width: 37.5em) {
          .container__content .secondaryText::after {
            transform: translateX(6px) translateY(6px); } }

.btn-corner {
  width: 30rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  padding: 15px 0;
  border-radius: 0;
  border: none;
  background: transparent;
  color: white; }
  .btn-corner:focus {
    outline: none; }
  @media only screen and (min-width: 112.5em) {
    .btn-corner {
      width: 35rem; } }
  @media only screen and (max-width: 87.5em) {
    .btn-corner {
      width: 28rem; } }
  @media only screen and (max-width: 75em) {
    .btn-corner {
      width: 24rem; } }
  @media only screen and (max-width: 56.25em) {
    .btn-corner {
      width: 22rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn-corner {
      width: 15rem; } }
  .btn-corner:hover, .btn-corner:active {
    transition: all .2s .2s;
    background-color: white;
    box-shadow: 0px 4px 4px black; }
    .btn-corner:hover .line1, .btn-corner:hover .line3, .btn-corner:active .line1, .btn-corner:active .line3 {
      width: 100%; }
    .btn-corner:hover .line2, .btn-corner:hover .line4, .btn-corner:active .line2, .btn-corner:active .line4 {
      height: 100%; }
  .btn-corner:hover > a, .btn-corner:active > a {
    transition: all .2s .2s;
    color: #141b2b;
    letter-spacing: 2px; }

.line1, .line3 {
  position: absolute;
  background-color: white;
  display: block;
  height: 2px;
  width: 20px;
  transition: all 200ms; }
  @media only screen and (max-width: 37.5em) {
    .line1, .line3 {
      height: 1px; } }

.line2, .line4 {
  position: absolute;
  background-color: white;
  display: block;
  height: 20px;
  width: 2px;
  transition: all 200ms; }
  @media only screen and (max-width: 37.5em) {
    .line2, .line4 {
      width: 1px; } }

.line1, .line2 {
  top: 0;
  right: 0; }

.line3, .line4 {
  bottom: 0;
  left: 0; }

.container__button {
  font-size: 2rem;
  font-weight: 100;
  font-family: planet-1; }
  .container__button:focus {
    outline: none; }
  @media only screen and (max-width: 75em) {
    .container__button {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 56.25em) {
    .container__button {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .container__button {
      font-size: 1rem; } }
  .container__button, .container__button:link, .container__button:visited, .container__button:active {
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    transform: translateY(2px); }

.correct {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3); }
  .correct__content {
    padding: 10rem;
    font-size: 2rem;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000000;
    z-index: 2;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 87.5em) {
      .correct__content {
        padding: 8rem;
        font-size: 1.8rem; } }
    @media only screen and (max-width: 75em) {
      .correct__content {
        padding: 6rem;
        font-size: 1.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .correct__content {
        padding: 4rem;
        font-size: 1.1rem; } }

.error__content {
  color: #cc3300;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 1.5rem; }
  @media only screen and (min-width: 112.5em) {
    .error__content {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 87.5em) {
    .error__content {
      font-size: 1.2rem;
      padding: 0 30%; } }
  @media only screen and (max-width: 75em) {
    .error__content {
      font-size: 1rem;
      margin: 1rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .error__content {
      padding: 0 20%; } }
  @media only screen and (max-width: 37.5em) {
    .error__content {
      margin-top: 1rem;
      font-size: .8rem;
      padding: 0 10%; } }
