.btn-corner {
    width: 30rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    padding: 15px 0;
    border-radius: 0;
    border: none;
    background: transparent;
    color: white;

    &:focus {
      outline: none;
    }

    @include respond(big-desktop) {
      width: 35rem;
    }

    @include respond(med-desktop) {
      width: 28rem;
    }

    @include respond(tab-land) {
      width: 24rem;
    }

    @include respond(tab-port) {
      width: 22rem;
    }

    @include respond(phone) {
      width: 15rem;
    }

    &:hover, &:active {
        transition: all .2s .2s;
        background-color: white;
        box-shadow: 0px 4px 4px black;
        
        .line1, .line3 {
          width: 100%;
        }
        
        .line2, .line4 {
          height: 100%;
        }
    }

    &:hover > a , &:active > a {
        transition: all .2s .2s;
        color: #141b2b;
        letter-spacing: 2px;
    }

}

.line1, .line3 {
    position: absolute;
    background-color: white;
    display: block;
    height: 2px;
    width: 20px;
    transition: all 200ms;

    @include respond(phone) {
      height: 1px;
    }

  }
  
  .line2, .line4 {
    position: absolute;
    background-color: white;
    display: block;
    height: 20px;
    width: 2px;
    transition: all 200ms;

    @include respond(phone) {
      width: 1px;
    }

  }

  .line1, .line2 {
    top: 0;
    right: 0;
  }
  
  .line3, .line4 {
    bottom: 0;
    left: 0;
  }

.container__button {
    font-size: 2rem;
    font-weight: 100;
    font-family: planet-1;

    &:focus {
      outline: none;
    }

    @include respond(tab-land) {
      font-size: 1.7rem;
    }

    @include respond(tab-port) {
      font-size: 1.5rem;
    }

    @include respond(phone) {
      font-size: 1rem;	
    }

    &,
    &:link,
    &:visited,
    &:active {
    color: white;
    text-decoration: none;
    border: none;
    outline:none;
    transform: translateY(2px);
    }

}