.correct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.3);

    &__content{
        padding: 10rem;
        font-size: 2rem;
        border-radius: 25px;
        background-color: #ffffff;
        color: #000000;
        z-index: 2;
        opacity: 1;
        
        @include absCenter;

        @include respond(med-desktop) {
            padding: 8rem;
            font-size: 1.8rem;
        }
        
        @include respond(tab-land) {
            padding: 6rem;
            font-size: 1.4rem;
        }
       
        @include respond(phone) {
            padding: 4rem;
            font-size: 1.1rem;
        }
    }
}

.error {
    &__content {
        //color: rgb(255, 255, 0);
        color: #cc3300;
        text-align: center;
        font-size: 1.4rem;
        margin-top: 1.5rem;

        @include respond(big-desktop) {
            font-size: 1.6rem;
        }

        @include respond(med-desktop) {
            font-size: 1.2rem;
            padding: 0 30%;
        }

        @include respond(tab-land) {
            font-size: 1rem;
            margin: 1rem 0;
        }

        @include respond(tab-port) {
            padding: 0 20%;
        }
        
        @include respond(phone) {
            margin-top: 1rem;
            font-size: .8rem;
            padding: 0 10% ;
        }
    }
}