/*
  Com a tipografia setada para 62.5%, ou seja, 1rem equivale a 10px, 
  o tamanho padrão do texto principal que era de 5em ( 1em equivale
  a 16px, logo, 5em vale 80px) passa a valer 8rem.
  Os valores dos atributos da propiedade rect abaixo estão de acordo
  com o tamanho da fonte, nesse caso de agora 8rem.
  Diante disso, basta calcular os valores de tal propiedade para outros
  valores de fonte.
*/

@keyframes glitch-anim {
    0% {
      clip: rect(68px, 9999px, 89px, 0);
      -webkit-clip: rect(68px, 9999px, 89px, 0);
      }
    5% {
      clip: rect(87px, 9999px, 11px, 0);
      -webkit-clip: rect(87px, 9999px, 11px, 0);
      }
    10% {
      clip: rect(9px, 9999px, 17px, 0);
      -webkit-clip: rect(9px, 9999px, 17px, 0);
      }
    15% {
      clip: rect(66px, 9999px, 64px, 0);
      -webkit-clip: rect(66px, 9999px, 64px, 0);
      }
    20% {
      clip: rect(72px, 9999px, 67px, 0);
      -webkit-clip: rect(72px, 9999px, 67px, 0);
      }
    25% {
      clip: rect(36px, 9999px, 37px, 0);
      -webkit-clip: rect(36px, 9999px, 37px, 0);
      }
    30% {
      clip: rect(87px, 9999px, 12px, 0);
      -webkit-clip: rect(87px, 9999px, 12px, 0);
      }
    35% {
      clip: rect(23px, 9999px, 60px, 0);
      -webkit-clip: rect(23px, 9999px, 60px, 0);
      }
    40% {
      clip: rect(6px, 9999px, 6px, 0);
      -webkit-clip: rect(6px, 9999px, 6px, 0);
      }
    45% {
      clip: rect(15px, 9999px, 91px, 0);
      -webkit-clip: rect(15px, 9999px, 91px, 0);
      }
    50% {
      clip: rect(39px, 9999px, 50px, 0);
      -webkit-clip: rect(39px, 9999px, 50px, 0);
      }
    55% {
      clip: rect(43px, 9999px, 89px, 0);
      -webkit-clip: rect(43px, 9999px, 89px, 0);
      }
    60% {
      clip: rect(10px, 9999px, 6px, 0);
      -webkit-clip: rect(10px, 9999px, 6px, 0);
      }
    65% {
      clip: rect(94px, 9999px, 38px, 0);
      -webkit-clip: rect(94px, 9999px, 38px, 0);
      }
    70% {
      clip: rect(56px, 9999px, 18px, 0);
      -webkit-clip: rect(56px, 9999px, 18px, 0);
      }
    75% {
      clip: rect(27px, 9999px, 69px, 0);
      -webkit-clip: rect(27px, 9999px, 69px, 0);
      }
    80% {
      clip: rect(65px, 9999px, 22px, 0);
      -webkit-clip: rect(65px, 9999px, 22px, 0);
      }
    85% {
      clip: rect(27px, 9999px, 39px, 0);
      -webkit-clip: rect(27px, 9999px, 39px, 0);
      }
    90% {
      clip: rect(22px, 9999px, 62px, 0);
      -webkit-clip: rect(22px, 9999px, 62px, 0);
      }
    95% {
      clip: rect(98px, 9999px, 94px, 0);
      -webkit-clip: rect(98px, 9999px, 94px, 0);
      }
    100% {
      clip: rect(57px, 9999px, 23px, 0);
      -webkit-clip: rect(57px, 9999px, 23px, 0);
      } 
  }
  
  @keyframes glitch-anim2 {
    0% {
      clip: rect(31px, 9999px, 35px, 0);
      -webkit-clip: rect(31px, 9999px, 35px, 0);
      }
    5% {
      clip: rect(9px, 9999px, 92px, 0);
      -webkit-clip: rect(9px, 9999px, 92px, 0);
      } 
    10% {
      clip: rect(4px, 9999px, 44px, 0);
      -webkit-clip: rect(4px, 9999px, 44px, 0);
      }
    15% {
      clip: rect(26px, 9999px, 4px, 0);
      -webkit-clip: rect(26px, 9999px, 4px, 0);
      }
    20% {
      clip: rect(3px, 9999px, 57px, 0);
      -webkit-clip: rect(3px, 9999px, 57px, 0);
      }
    25% {
      clip: rect(43px, 9999px, 10px, 0);
      -webkit-clip: rect(43px, 9999px, 10px, 0);
      }
    30% {
      clip: rect(49px, 9999px, 42px, 0);
      -webkit-clip: rect(49px, 9999px, 42px, 0);
      }
    35% {
      clip: rect(21px, 9999px, 42px, 0);
      -webkit-clip: rect(21px, 9999px, 42px, 0);
      }
    40% {
      clip: rect(66px, 9999px, 41px, 0);
      -webkit-clip: rect(66px, 9999px, 41px, 0);
      }
    45% {
      clip: rect(8px, 9999px, 71px, 0);
      -webkit-clip: rect(8px, 9999px, 71px, 0);
      }
    50% {
      clip: rect(65px, 9999px, 70px, 0);
      -webkit-clip: rect(65px, 9999px, 70px, 0);
      }
    55% {
      clip: rect(40px, 9999px, 97px, 0);
      -webkit-clip: rect(40px, 9999px, 97px, 0);
      }
    60% {
      clip: rect(73px, 9999px, 85px, 0);
      -webkit-clip: rect(73px, 9999px, 85px, 0);
      }
    65% {
      clip: rect(65px, 9999px, 10px, 0);
      -webkit-clip: rect(65px, 9999px, 10px, 0);
      }
    70% {
      clip: rect(33px, 9999px, 62px, 0);
      -webkit-clip: rect(33px, 9999px, 62px, 0);
      }
    75% {
      clip: rect(55px, 9999px, 63px, 0);
      -webkit-clip: rect(55px, 9999px, 63px, 0);
      }
    80% {
      clip: rect(69px, 9999px, 39px, 0);
      -webkit-clip: rect(69px, 9999px, 39px, 0);
      }
    85% {
      clip: rect(37px, 9999px, 70px, 0);
      -webkit-clip: rect(37px, 9999px, 70px, 0);
      }
    90% {
      clip: rect(31px, 9999px, 2px, 0);
      -webkit-clip: rect(31px, 9999px, 2px, 0);
      }
    95% {
      clip: rect(49px, 9999px, 18px, 0);
      -webkit-clip: rect(49px, 9999px, 18px, 0);
      }
    100% {
      clip: rect(77px, 9999px, 69px, 0);
      -webkit-clip: rect(77px, 9999px, 69px, 0);
      } 
  }
  
@keyframes glitch-anim {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        -webkit-clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      }
    }
  }
  
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      -webkit-clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}


@keyframes glitch-anim15 {
  0% {
    clip: rect( 127px, 9999px, 166px, 0);
    -webkit-clip: rect( 127px, 9999px, 166px, 0);
    }
  5% {
    clip: rect( 163px, 9999px, 20px, 0);
    -webkit-clip: rect( 163px, 9999px, 20px, 0);
    } 
  10% {
    clip: rect( 16px, 9999px, 31px, 0);
    -webkit-clip: rect( 16px, 9999px, 31px, 0);
    }
  15% {
    clip: rect( 123px, 9999px, 120px, 0);
    -webkit-clip: rect( 123px, 9999px, 120px, 0);
    }
  20% {
      clip: rect( 135px, 9999px, 125px, 0);
      -webkit-clip: rect( 135px, 9999px, 125px, 0);
      }
  25% {
    clip: rect( 67px, 9999px, 69px, 0);
    -webkit-clip: rect( 67px, 9999px, 69px, 0);
    }
  30% {
    clip: rect( 163px, 9999px, 22px, 0);
    -webkit-clip: rect( 163px, 9999px, 22px, 0);
    }
  35% {
    clip: rect( 43px, 9999px, 112px, 0);
    -webkit-clip: rect( 43px, 9999px, 112px, 0);
    }
  40% {
    clip: rect( 11px, 9999px, 11px, 0);
    -webkit-clip: rect( 11px, 9999px, 11px, 0);
    }
  45% {
    clip: rect( 28px, 9999px, 170px, 0);
    -webkit-clip: rect( 28px, 9999px, 170px, 0);
    }
  50% {
    clip: rect( 73px, 9999px, 93px, 0);
    -webkit-clip: rect( 73px, 9999px, 93px, 0);
    }
  55% {
    clip: rect( 80px, 9999px, 166px, 0);
    -webkit-clip: rect( 80px, 9999px, 166px, 0);
    }
  60% {
    clip: rect( 18px, 9999px, 11px, 0);
    -webkit-clip: rect( 18px, 9999px, 11px, 0);
    }
  65% {
    clip: rect( 176px, 9999px, 71px, 0);
    -webkit-clip: rect( 176px, 9999px, 71px, 0);
    }
  70% {
    clip: rect( 105px, 9999px, 33px, 0);
    -webkit-clip: rect( 105px, 9999px, 33px, 0);
    }
  75% {
    clip: rect( 50px, 9999px, 129px, 0);
    -webkit-clip: rect( 50px, 9999px, 129px, 0);
    }
  80% {
    clip: rect( 121px, 9999px, 41px, 0);
    -webkit-clip: rect( 121px, 9999px, 41px, 0);
    }
  85% {
    clip: rect( 50px, 9999px, 73px, 0);
    -webkit-clip: rect( 50px, 9999px, 73px, 0);
    }
  90% {
    clip: rect( 41px, 9999px, 116px, 0);
    -webkit-clip: rect( 41px, 9999px, 116px, 0);
    }
  95% {
    clip: rect( 183px, 9999px, 176px, 0);
    -webkit-clip: rect( 183px, 9999px, 176px, 0);
    }
  100% {
    clip: rect( 106px, 9999px, 43px, 0);
    -webkit-clip: rect( 106px, 9999px, 43px, 0);
    } 
}

@keyframes glitch-anim15-2 {
  0% {
    clip: rect( 238px, 9999px, 311px, 0);
    -webkit-clip: rect( 238px, 9999px, 311px, 0);
    }
  5% {
    clip: rect( 305px, 9999px, 37px, 0);
    -webkit-clip: rect( 305px, 9999px, 37px, 0);
    } 
  10% {
    clip: rect( 30px, 9999px, 58px, 0);
    -webkit-clip: rect( 30px, 9999px, 58px, 0);
    }
  15% {
    clip: rect( 230px, 9999px, 225px, 0);
    -webkit-clip: rect( 230px, 9999px, 225px, 0);
    }
  20% {
    clip: rect( 253px, 9999px, 234px, 0);
    -webkit-clip: rect( 253px, 9999px, 234px, 0);
    }
  25% {
    clip: rect( 125px, 9999px, 129px, 0);
    -webkit-clip: rect( 125px, 9999px, 129px, 0);
    }
  30% {
    clip: rect( 305px, 9999px, 41px, 0);
    -webkit-clip: rect( 305px, 9999px, 41px, 0);
    }
  35% {
    clip: rect( 80px, 9999px, 210px, 0);
    -webkit-clip: rect( 80px, 9999px, 210px, 0);
    }
  40% {
    clip: rect( 20px, 9999px, 20px, 0);
    -webkit-clip: rect( 20px, 9999px, 20px, 0);
    }
  45% {
    clip: rect( 52px, 9999px, 318px, 0);
    -webkit-clip: rect( 52px, 9999px, 318px, 0);
    }
  50% {
    clip: rect( 136px, 9999px, 174px, 0);
    -webkit-clip: rect( 136px, 9999px, 174px, 0);
    }
  55% {
    clip: rect( 150px, 9999px, 311px, 0);
    -webkit-clip: rect( 150px, 9999px, 311px, 0);
    }
  60% {
    clip: rect( 33px, 9999px, 20px, 0);
    -webkit-clip: rect( 33px, 9999px, 20px, 0);
    }
  65% {
    clip: rect( 330px, 9999px, 133px, 0);
    -webkit-clip: rect( 330px, 9999px, 133px, 0);
    }
  70% {
    clip: rect( 196px, 9999px, 61px, 0);
    -webkit-clip: rect( 196px, 9999px, 61px, 0);
    }
  75% {
    clip: rect( 93px, 9999px, 241px, 0);
    -webkit-clip: rect( 93px, 9999px, 241px, 0);
    }
  80% {
    clip: rect( 226px, 9999px, 76px, 0);
    -webkit-clip: rect( 226px, 9999px, 76px, 0);
    }
  85% {
    clip: rect( 93px, 9999px, 136px, 0);
    -webkit-clip: rect( 93px, 9999px, 136px, 0);
    }
  90% {
    clip: rect( 76px, 9999px, 217px, 0);
    -webkit-clip: rect( 76px, 9999px, 217px, 0);
    }
  95% {
    clip: rect( 343px, 9999px, 330px, 0);
    -webkit-clip: rect( 343px, 9999px, 330px, 0);
    }
  100% {
    clip: rect( 198px, 9999px, 80px, 0);
    -webkit-clip: rect( 198px, 9999px, 80px, 0);
    } 
}