* ,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, h1 {
	padding: 0;
	margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: planet-1;
    font-size: 65.5%;
}

body {
    margin: 0px;
    background-color: #141b2b;
    height: 100vh;
}

::-webkit-scrollbar-track {
    background-color: #141b2b;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #141b2b;
}

::-webkit-scrollbar-thumb {
    background-color: #FFF;
}