.contact {
    width: 100%;

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem 0;

        @include respond(phone) {
            padding-top: 5rem;
        }

        &__back {
            align-items: center;
            transform: translateY(-15%);
            position: absolute;
            font-size: 2rem;
            top: 2rem;
            left: 3rem;

            .backButton {
                background-color: transparent;
                border: none;
                font-family: 'Share Tech Mono', monospace;
                font-weight: 400;
                transition: all .2s;

                &:hover {
                    transform: scale(1.05);
                }

                a {
                    text-decoration: none;
                    font-size: 2.5rem;
                    cursor: pointer;
                    color: #ffffff;

                    @include respond(tab-land) {
                        font-size: 2rem;
                    }

                    @include respond(tab-port) {
                        font-size: 1.5rem;
                    }

                    @include respond(phone) {
                        font-size: 1rem;
                    }

                    i {
                        font-size: 2rem;
                        transform: translateY(1.5px);

                        @include respond(tab-land) {
                            font-size: 1.5rem;
                        }

                        @include respond(tab-port) {
                            font-size: 1rem;
                        }

                        @include respond(phone) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        &__title {
            &--text {
            font-size: 3.5rem;
            color: #ffffff;

            @include respond(big-desktop) {
                font-size: 4rem;
            }

            @include respond(tab-port) {
                font-size: 3rem;
            }

            @include respond(phone) {
                font-size: 1.5rem;
            }

            }
        }
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 3% 30%;

        @include respond(med-desktop) {
            padding: 3% 30%;
        }
        
        @include respond(tab-port) {
            padding: 3% 20%;
        }

        @include respond(phone) {
            padding: 3% 10% 5% 10%;
        }

        &__title {
            //color: #ffffff;
            color: #585b6b;
            font-size: 2.5rem;
            width: 100%;
            margin-bottom: 5rem;
            

            @include respond(big-desktop) {
                font-size: 3rem;
            }

            @include respond(med-desktop) {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }

            @include respond(tab-land) {
                font-size: 1.5rem;
            }

            @include respond(phone) {
                font-size: 1.2rem;
                line-height: 1.2;
                margin-bottom: 1rem;
            }

            &__connect {
                color: #06F0EF;
                color: #ffffff;
                text-shadow: 2px 4px 0rem #000000;
            }
        }


        &__formWrapper{
            width: 100%;

            &--form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                width: 100%;

                input[type=text],
                textarea {
                    font-family: 'Share Tech Mono', monospace;
                    font-weight: 400;
                    opacity: .7;
                    color: #ffffff;
                    font-size: 2rem;
                    letter-spacing: .2rem;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid #ffffff;
                    padding: 0 0 .5rem .5rem;
                    margin: 1.5rem 0;
                    outline: none;
                    -webkit-appearance: none;
                    border-radius: 0;

                    @include respond(big-desktop) {
                        font-size: 2rem;
                    }

                    @include respond(med-desktop) {
                        font-size: 1.8rem;
                    }

                    @include respond(tab-land) {
                        font-size: 1.5rem;
                        margin: 1rem 0;
                    }
                    
                    @include respond(phone) {
                        font-size: 1.2rem;
                    }
                }
                

                textarea {
                    padding-bottom: 8rem;
                    font-size: 2rem;
                    max-width: 100%;

                    @include respond(big-desktop) {
                        font-size: 2rem;
                    }

                    @include respond(med-desktop) {
                        font-size: 1.8rem;
                        padding-bottom: 6rem;
                    }

                    @include respond(tab-land) {
                        font-size: 1.5rem;
                        padding-bottom: 4rem;
                    }

                    @include respond(phone) {
                        font-size: 1.2rem;
                        padding-bottom: 3rem;
                    }
                }

                input, textarea {
                    &:focus {
                        border-bottom: 1px solid #ffffff;
                        opacity: 1;
                    }
                }



                &--text {
                    font-size: 1.4rem;
                    color: #ffffff;
                    color: #585b6b;
                    text-decoration: none;
                    margin-bottom: 7rem;
    
                    @include respond(big-desktop) {
                        font-size: 1.5rem;
                    }
    
                    @include respond(med-desktop) {
                        font-size: 1.2rem;
                        margin-bottom: 3rem;
                    }
    
                    @include respond(tab-land) {
                        font-size: .9rem;
                        margin-bottom: 2rem;
                    }
    
                    @include respond(phone) {
                        line-height: 1.5;
                        font-size: .8rem;
                    }
    
                    &--link {
                        position: relative;
                        
                        a {
    
                            &::after{
                                content: "";
                                display: block;
                                position: absolute;
                                margin-top: 2px;
                                width: 20%;
                                height: 2px;
                                left: 50%;
                                transform: translateX(-50%);
                                background-color: #ffffff;
                                transition: all .4s;
                            }
    
                            &:hover::after {
                                width: 90%;
                            }
    
                            display: inline-block;
                            transition: all .3s;
    
                            &:hover {
                                transform: scale(1.2);
                                margin-left: .9rem;
                            }
    
                            &,
                            &:link,
                            &:visited {
                                color: #06F0EF;
                                color: #ffffff;
                                //text-shadow: 2px 2px 0rem #000000;
                                text-decoration: none;
                            }
                        }
                    }
                }




                &--button {
                    width: fit-content;
                    font-family: 'Share Tech Mono', monospace;
                    font-size: 2.5rem;
                    letter-spacing: -.2rem;
                    padding: 1rem 3rem;
                    line-height: 1;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: #f7f7f7;
                    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                    border-radius: 0;
                    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1);
                    transition: all .3s;
                    
                    @include respond(med-desktop) {
                        font-size: 2rem;
                    }
    
                    @include respond(tab-land) {
                        font-size: 1.5rem;
                        letter-spacing: 0rem;
                    }
    
                    @include respond(phone) {
                        font-size: 1.5rem;
                        padding: .7rem 2.5rem;
                        margin-left: 50%;
                        transform: translateX(-50%);
                    }
    
                    &:hover {
                        transform: translateY(-1rem);
    
                        @include respond(phone) {
                            transform: translateY(-1rem) translateX(-50%);
                        }
                    }
                }

            }

        }
    }
}