.container {
	background: #141b2b;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    z-index: 1;

    &__title {
        color: white;
        position: absolute;
		top: 2rem;
		font-size: 2rem;

		@include respond(med-desktop) {
			font-size: 1.6rem;
		}
		
		@include respond(tab-land){
			font-size: 1.5rem;
		}

		@include respond(phone){
			font-size: 1rem;
		}
	}
	
	&__socials{
		font-size: 2.5rem;
		position: absolute;
		right: 3rem;
		top: 2rem;

		/*.fb {
			&--mobile {
				display: none;

				@include respond(phone){
					display: initial;
				}
			}

			&--desktop {
				@include respond(phone){
					display: none;
				}
			}
		}*/

		@include respond(tab-port){
			top: 5.5rem;
			right: 50%;
			transform: translateX(50%);
		}

		@include respond(phone){
			font-size: 2rem;
			top: 5rem
		}

		& > a {
			color: rgba(#fff, 1);
			opacity: .5;
			margin-left: 15px;
			transition: all .3s;

			&:hover {
				opacity: 1;
			}
		}
	}

    &__content {
		text-align: center;
		@include absCenter;

		.primaryText {
			position: relative;
			color: white;
			font-size: 10rem;
		
			@include respond(big-desktop) {
				font-size: 15rem;
			}
		
			@include respond(med-desktop) {
				font-size: 10rem;
			}
		
			@include respond(tab-land) {
				font-size: 8rem;
			}
		
			@include respond(phone) {
				font-size: 5rem;
			}
			
				&::before{
					@include glitchCopy;
					left: 2px;
					text-shadow: -2px 0 #ff00c1;
					clip: rect(44px, 450px, 56px, 0);
					animation: glitch-anim 5s infinite linear alternate-reverse;
					@include respond(big-desktop) {
						animation: glitch-anim15 1s infinite linear alternate-reverse;
					}
				}
				
				&::after {
					@include glitchCopy;
					left: -2px;
					text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
					animation: glitch-anim2 1s infinite linear alternate-reverse;
		
					@include respond(big-desktop) {
						animation: glitch-anim15-2 1s infinite linear alternate-reverse;
					}
				}
			}
		
			.secondaryText {
				color: #ffffff;
				font-size: 3rem;
		
				@include respond(med-desktop) {
					font-size: 2.5rem;
				}
		
				@include respond(tab-land) {
					font-size: 2.2rem;
				}
		
				@include respond(tab-port) {
					font-size: 2.2rem;
				}
		
				@include respond(phone) {
					font-size: 1.2rem;
				}
		
				&::after,
				&::before {
					content: "";
					width: 3rem;
					height: .1rem;
					position: absolute;
					background-color: #ffffff;
		
					@include respond(tab-land) {
						width: 2.5rem;
					}
		
					@include respond(phone) {
						width: 2rem;
					}
				}
		
				&::before {
					transform: translateX(-35px) translateY(17px);
		
					@include respond(med-desktop) {
						transform: translateX(-35px) translateY(13px);
					}
		
					@include respond(tab-land) {
						transform: translateX(-30px) translateY(13px);
					}
					
					@include respond(phone) {
						transform: translateX(-25px) translateY(5px);	
					}
				}
		
				&::after {
					transform: translateX(9px) translateY(19px);
					
					@include respond(med-desktop) {
						transform: translateX(10px) translateY(15px);
					}
					
					@include respond(tab-land) {
						transform: translateX(5px) translateY(15px);
					}
		
					@include respond(phone) {
						transform: translateX(6px) translateY(6px);
					}
		
				}
			}
		
    } 

}